@import "../../style/index";



a svg.esp3dlogo{
color:#20262C!important;
}

a.active svg,
a.active label.hide-low{
color:rgb(0, 85, 197)!important;
}

a.active svg {
  color: rgb(0 171 255)!important;
}

.panel .navbar {
    background-color: #005B96;
    border-bottom:.5px solid #8888;
}

.panel .navbar-section {
    background-color: #fff0;
    border-bottom:.5px solid #8888;
}

span.navbar-section{
    color:#f7f8f9!important;
}



.form-checkbox input:checked+.form-icon, .form-radio input:checked+.form-icon, .form-switch input:checked+.form-icon {
    background: #1c4870;
    border-color: #1c4870;
}

.files-list-footer {
    color: #6497B1;
}

.form-input[readonly] {
    background-color: #5448;
}

// .input-group .input-group-addon {
//     background: #4446;
//     border: 0.05rem solid #bcc3ce;
//     color: #fffA;
// }

.text-primary {
    color: #6497B1!important;
}

.label.label-primary {
    background: #6497B1;
    color: #fff;
    margin: 0.1rem;
}

// .text-dark {
//     color: #ffffff!important;
// }

.tab-item {
    color: #c1c1c1!important;
}

.tab .tab-item a:focus, .tab .tab-item a:hover, .jog-position-header {
    color: #0061a7;
}



a.active label.hide-low {
    color: rgb(218, 235, 255)!important;
}

a.active label.hide-low:hover, a.active label.hide-low:active {
    color: rgb(26, 26, 26)!important;
}

a.active label.hide-low {
    color: rgb(0 171 255)!important;
}

.tab .tab-item a.active, .tab .tab-item.active a {
    border-bottom-color: #e7e7e7;
}

.form-select:not([multiple]):not([size]) {
    // background: #4446 url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20viewBox=%270%200%204%205%27%3E%3Cpath%20fill=%27%23667189%27%20d=%27M2%200L0%202h4zm0%205L0%203h4z%27/%3E%3C/svg%3E) no-repeat right 0.35rem center/0.4rem 0.5rem;
    padding-right: 1.2rem;
}

.form-input:focus {
    box-shadow: 0 0 0 0.1rem rgb(85 144 217 / 20%);
    border-color: #5590d9;
}

.chart {
    filter: invert(1);
}

.extruder-ctrl-name, .temperature-ctrl-name, .jog-position-value, .extra-control-value, .status-control-value, .temperatures-value {
    color: #c9e1ff;
}



.terminal .echo {
    color: #348dff;
}

.terminal .action {
    color: #34ff8d;
}

.bar .bar-item {
    background: #1ea1ff;
}

.menu-item {
    color: #438fff;
}

.file-line:hover {
    color: #005B96;
    background-color: #e8f0ff;
}

.menu .menu-item>.menu-entry:focus, .menu .menu-item>.menu-entry:hover {
    color: #005B96;
    background: #e8f0ff;
}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color: #012a4c;
}

.comment {
    background: #e8f3f9;
    color: #005B96;
    padding-left: 0.5rem;
}

.field-group {
    color: #005B96;
    font-size: 0.8rem;
}

/* Jog Controls*/

.jog-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .jog-positions-ctrls {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .jog-position-ctrl {
    min-width: 3rem;
    border: 0.05rem solid #dadee4;
    border-radius: 5px;
  }
  .jog-position-sub-header,
  .jog-position-header {
    border-bottom: 0.05rem solid #dadee4;
    color: #6497B1;
    background-color: #f1f1fc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70%;
  }
  
  .jog-position-header {
    border-radius: 5px 5px 0px 0px;
  }
  
  .jog-position-value {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6497B1;
    font-size: 80%;
  }
  
  .jog-buttons-container-horizontal,
  .jog-buttons-container {
    display: flex;
    justify-content: space-between;
    border: 0.05rem solid #dadee4;
    border-radius: 5px;
  }
  
  .jog-buttons-container {
    flex-direction: column;
  }
  
  .jog-buttons-main-container {
    display: flex;
    justify-content: space-between;
  }
  
  .jog-distance-selector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .jog-distance-selector-header {
    border: 0.05rem solid #6497B1 !important;
    border-radius: 5px 5px 0px 0px;
    color: #6497B1;
    background-color: #f1f1fc;
  }
  
/* Buttons */
button svg {
    stroke: #6497B1;
}

.btn {
    border: 0.05rem solid #fff8;
    background: #8884;
    color: #6497B1;
}

.btn.btn-link {
    color: #368ad8;
}

.btn:focus, .btn:hover {
    background: #f1f1fc;
    border-color: #286baa;
    text-decoration: none;
}

.buttons-bar-label{
    font-size: 0.8rem;
    color: #6497b1;
  }

.flatbtn {
    input[type='radio'] {
        display: none;
        &:not(:disabled) ~ label {
            cursor: pointer;
        }
        &:disabled ~ label {
            color: hsla(150, 5%, 75%, 1);
            border-color: hsla(150, 5%, 75%, 1);
            box-shadow: none;
            cursor: not-allowed;
        }
    }
    label {
        font-size: 0.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        display: block;
        background: white;
        border: 0.05rem solid #6497B1;
        border-top: 0em;
        text-align: center;
        color: #6497B1;
        position: relative;
        min-width: 2rem;
    }

    input[type='radio']:active + label {
        background: blue;
        color: white;
    }
    input[type='radio']:checked + label {
        background: #6497B1;
        color: white;
    }
    .last-button {
        border-radius: 0px 0px 5px 5px;
    }
}

/* YAML Editor */
.yaml-editor {
  outline: none;
  height: 400px;
  border: 0.05rem solid #dadee4;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  width: 90%;
  max-width: 500px;
}
